<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>BackofficeWar</display-name>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>


	<!-- SERVLET MAESTRO, no se le debe llamar -->
	<servlet>
		<description>Servlet Maestro para que hereden los demas servlet</description>
		<display-name>MasterServlet</display-name>
		<servlet-name>MasterServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.MasterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterServlet</servlet-name>
		<url-pattern>/master</url-pattern>
	</servlet-mapping>

	<!-- SERVLETS -->

	<servlet>
		<description>Controlador para gestionar el login</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Desconexion de sessiones de usuarios</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Controlador para gestionar las operaciones sobre usuarios</description>
		<display-name>UsuarioServlet</display-name>
		<servlet-name>UsuarioServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioServlet</servlet-name>
		<url-pattern>/back/usuarios</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/back/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Controlador para gestionar las operaciones sobre roles</description>
		<display-name>TablaAuxiliarServlet</display-name>
		<servlet-name>TablaAuxiliarServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.TablaAuxiliarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TablaAuxiliarServlet</servlet-name>
		<url-pattern>/back/roles</url-pattern>
	</servlet-mapping>





	<!-- Servlets para conexiones con AJAX -->

	<servlet>
		<description></description>
		<display-name>LoggedUserServlet</display-name>
		<servlet-name>LoggedUserServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.ajax.LoggedUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoggedUserServlet</servlet-name>
		<url-pattern>/back/loggeduser</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>CheckUserServlet</display-name>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>com.ipartek.formacion.backoffice.controladores.ajax.CheckUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/checkuser</url-pattern>
	</servlet-mapping>

	<!-- LISTENER -->

	<listener>
		<listener-class>com.ipartek.formacion.backoffice.listeners.InitListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ipartek.formacion.backoffice.listeners.DBListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ipartek.formacion.backoffice.listeners.DAOListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.ipartek.formacion.backoffice.listeners.SessionListener</listener-class>
	</listener>



	<!-- FILTROS -->

	<filter>
		<display-name>UserLoggedFilter</display-name>
		<filter-name>UserLoggedFilter</filter-name>
		<filter-class>com.ipartek.formacion.backoffice.seguridad.UserLoggedFilter</filter-class>
		<init-param>
			<description>paginas a excluir del filtro</description>
			<param-name>excludeLogin</param-name>
			<param-value>login.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UserLoggedFilter</filter-name>
		<url-pattern>/back/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserLoggedFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>


	<!-- PAGINA DE ERROR -->

	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/error-404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/errores/error.jsp</location>
	</error-page>
	
	<!-- Expiracion de Session -->
	
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>


</web-app>